<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	  <session-config>
	    <session-timeout>200</session-timeout>
	  </session-config>

   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
 
    <!-- ZK -->    
    <listener>    
        <description>ZK listener for session cleanup</description>        
        <listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>        
    </listener>
        
    <servlet>    
        <description>ZK loader for evaluating ZK pages</description>        
        <servlet-name>zkLoader</servlet-name>        
        <servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>        
        <!-- Must. Specifies URI of the update engine (DHtmlUpdateServlet). -->        
        <init-param>        
            <param-name>update-uri</param-name>            
            <param-value>/zkau</param-value>            
        </init-param>        
        <load-on-startup>1</load-on-startup><!-- MUST -->        
    </servlet>

    <servlet-mapping>    
        <servlet-name>zkLoader</servlet-name>        
        <url-pattern>*.zul</url-pattern>        
    </servlet-mapping>
    <servlet-mapping>    
        <servlet-name>zkLoader</servlet-name>        
        <url-pattern>*.zhtml</url-pattern>        
    </servlet-mapping>    
    <servlet>    
        <description>The asynchronous update engine for ZK</description>        
        <servlet-name>auEngine</servlet-name>        
        <servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>        
    </servlet>    
    <servlet-mapping>    
        <servlet-name>auEngine</servlet-name>        
        <url-pattern>/zkau/*</url-pattern>        
    </servlet-mapping>


	<error-page>
	  <error-code>404</error-code>
	  <location>/404.html</location>
	</error-page>
   
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <mime-mapping>
        <extension>htc</extension>
        <mime-type>text/x-component</mime-type>
    </mime-mapping>
    <mime-mapping>    
        <extension>zhtml</extension>        
        <mime-type>text/html</mime-type>        
    </mime-mapping>    
    <mime-mapping>    
        <extension>zul</extension>        
        <mime-type>text/html</mime-type>        
    </mime-mapping>    
</web-app>